@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    /*Primary colors*/
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /*Accent*/
    --bright-blue:hsl(224, 93%, 58%);
    --moderate-cyan:hsl(170, 45%, 43%);

    /*neutral*/
    --light-grayish-blue:hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
    padding:0; 
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*General CSS*/

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
input{
    padding:0.7em 1em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
button{
    background-color: var(--bright-blue);
    border:none;
    color:var(--light-grayish-blue);
    font-weight: bold;
    padding:0.7em;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
li{
    list-style-type: none;
}
.container{
    width:90%;
}
.header,
.section1,
.section2,
.section3,
.footer{
    display: grid;
    justify-items: center;
}

/*header*/
.header__content{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-block: 1em 6em;
    align-items: center;
}
.header__content img{
    width:clamp(6em,11%,10em);
}
/* nav */
.nav__links{
    display: flex;
    gap:1.5em;
}
.nav__links a{
    color:var(--very-dark-blue);
    font-size:clamp(.9rem,1.1vw,4rem);
    transition:all 0.1s ease-in;
}
.nav__links a:hover{
    color:var(--desaturated-blue);
}

/*section 1 (main)*/
.info-sec1{
    color: var(--very-dark-blue);
    text-align: center;
}
.info-sec1 h1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-block: 1.5em 1em;
    font-size: clamp(1.67rem,2.66vw,3rem);
}
.info-sec1 p{
    margin-bottom: 2em;
    font-size: clamp(0.94rem,1.4vw,1.2rem);
}
.section1 input{
    width:90%;
    border-radius: 5px;
    border:1px solid var(--very-dark-blue);
    margin-bottom: 1.3em;
}  
.section1 button{
    width:90%;
    border-radius: 5px;
    margin-bottom: 6em;
}

.decoration{
    display: block;
    width:100%;
}

/*section 2 (main)*/
.section2{
    background-color: hsl(240, 75%, 98.4%);
    padding-top: 3.5em;
}
.info-sec2 h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    color: var(--very-dark-blue);
    margin-block: 4.5em 1.7em;
}
.info-sec2 p{
    font-size: clamp(0.92rem,1.2vw,1.5rem);
    color: var(--desaturated-blue);
    max-width: 33em;
}
.para-sec2{
    margin-bottom: 1em;
}
.info-sec2 .link-fylo__container{
    display: flex;
    justify-content: center;
}
.link-fylo{
    border-bottom: 1.5px solid var(--moderate-cyan);
    display: inline-block;
    margin-block:2em 3em;
}
.info-sec2 a{
    font-size: clamp(0.95rem,1.15vw,1.5rem);
    font-family: 'Raleway', sans-serif;
    color:var(--moderate-cyan);
}
.quote{
    background-color: white;
    padding: 1.2em 1.6em;
    width: 85%;
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px var(--light-gray);
    margin-bottom: 4.5em;
    max-width: 21em;
}
.quote blockquote{
    font-size: clamp(.66rem,1vw,.9rem);
    line-height: 1.7;
}
.ceo{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-top: .8em;
}
.ceo img{
    border-radius: 50%;
    width:1.8em;
}
.name{
    font-size: clamp(.66rem,.9vw,.8rem) !important;
    color:var(--very-dark-blue) !important;
    font-weight: bold;
}
.role{
    font-size:clamp(.56rem,.7vw,.6rem) !important;
    color:var(--very-dark-blue) !important;
}

/*section 3 (main)*/
.section3{
    background-color: var(--desaturated-blue);
    padding:4em 1em;
}
.info-sec3 h2{
    color:var(--light-grayish-blue);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1em;
}
.info-sec3 p{
    font-size: 0.97rem;
    color: var(--light-grayish-blue);
    text-align: center;
    margin-bottom: 1.5em;
}
.section3 form{
    text-align: center;
}
.section3 input{
    width:80%;
    margin-bottom: .7em;
    max-width: 34em;
}
.section3 button{
    width:80%;
}

/*footer*/
.footer__content{
    margin: 4em 0em 5em auto;
}
.logo-container{
    margin-bottom: 1em;
}
.footer__content ul{
    display: grid;
    gap:1em;
}
.footer__links{
    margin-top:3em;
}
.footer, .footer a{
    background-color: var(--very-dark-blue);
    color:var(--light-grayish-blue);
}
.footer__links a{
    transition:all 0.1s ease-in;
}
.footer__links a:hover{
    color:var(--desaturated-blue);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(min-width:43.75em){
    .css-desktop__sect1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10em;
        align-items: center;
    }
    .css-desktop__sect1 img{
        order:2;
    }
    .info-sec1{
        text-align: left;
    }
    .section1 button{
        max-width: 15em;
    }
    .section1 input{
        max-width: 22em;
        margin-right: .8em;
    }


    .css-desktop__sect2{
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        align-items: center;
        margin-bottom: 1em;
    }
    .css-desktop__sect2 > img{
        order:2;
    }
    .info-sec2 h2{
        text-align: left;
        font-size: clamp(1.1rem,2.4vw,3rem);
        margin-block: 0em .8em;
    }
    .info-sec2 .link-fylo__container{
        justify-content: left;
    }
    .quote{
        margin-inline: initial;
    }


    .css-desktop__sect3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .info-sec3{
        max-width: 30em;
    }
    .info-sec3 h2{
        margin-bottom: .5em;
        text-align: left;
        font-size: clamp(1.1rem,2.3vw,2rem);
    }
    .info-sec3 p{
        text-align: left;
    }
    .section3 form{
        text-align: left;
    }
    .section3 button{
        max-width: 15em;
    }


    .footer__content{
        margin: initial;
        margin-block: 4em 5em;
    }
    .footer-links__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
    }
    .footer__links{
        margin-top:initial;
    }

}